<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <urbit>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <price>15</price>
                <model>Urbit\Shipping\Model\Carrier\UrbitCarrier</model>
                <name>Urb-it</name>
                <title>Now and Specific Time</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </urbit>
        </carriers>
    </default>
</config>